:root {
  --background-color: #ffffff;
  --background-select-color: #f5f4fa;
  --accent-color: #2196f3;
  --body-text-color: #757575;
  --body-title-color: #212121;
  --hero-title-color: #ffffff;
  --button-hover-text-color: #ffffff;
  --footer-color: #2f303a;
  --copyright-link-color: rgba(255, 255, 255, 0.6);
  --color-white: #ffffff;
  --color-black: #000000;
  --icon-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --overlay-works-color: rgba(33, 150, 243, 0.9);
  --backdrop-background-color: rgba(0, 0, 0, 0.2);
}

/* Скидання стилів */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--body-text-color);
  background-color: var(--background-color);
}

/* Стилізація header i footer */
.header {
  border-bottom: 1px solid #ececec;
}

.header > .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-black {
  color: var(--color-black);
}

/* Стилізація навігації */
.header-container-nav {
  display: inline-flex;
  align-items: center;
}

.logo-header {
  margin-right: 93px;
}

.header-nav-list {
  display: inline-flex;
}

.header-nav-item:not(:last-child),
.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link,
.header-contact-link {
  display: block;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
}

.header-nav-link {
  color: var(--body-title-color);
}

.nav-active {
  position: relative;
  color: var(--accent-color);
}

.nav-active::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header-contact-list {
  display: inline-flex;
}

.header-contact-item:hover .header-contact-item-icon {
  fill: var(--accent-color);
}

.header-contact-link {
  display: flex;
  align-items: center;
  color: var(--body-text-color);
}

.header-contact-item-icon {
  margin-right: 10px;
  fill: currentColor;

  transition: fill 250ms var(--timing-function);
}

.header-contact-item .header-contact-link:hover,
.header-contact-item:hover .header-contact-link,
.header-contact-item .header-contact-link:focus,
.header-nav-item .header-nav-link:hover,
.header-nav-item .header-nav-link:focus,
.footer-contact-link:hover,
.footer-contact-link:focus,
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--accent-color);
}

.header-nav-link,
.header-contact-link,
.footer-contact-link,
.footer-address-link {
  transition: color 250ms var(--timing-function);
}

/* Стилізація кнопок */
.btn {
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--body-title-color);
  background-color: var(--background-select-color);
  cursor: pointer;

  transition: background-color 250ms var(--timing-function), color 250ms var(--timing-function),
    box-shadow 250ms var(--timing-function);
}

.btn-hero {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-hover-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-hero:hover,
.btn-hero:focus {
  background: #188ce8;
}

/* Стилізація Героя */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/Img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px;
  max-width: 1600px;
  margin: 0 auto;
}

.hero .container {
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}

/* Стилізація Преимущества */
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advantages-list {
  display: flex;
}

.advantages-item {
  width: 270px;
}

.advantages-item:not(:last-child) {
  margin-right: 30px;
}

.advantages-img-bcg {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--background-select-color);
  border-radius: 4px;
}
.advantages-img {
  width: 70px;
  height: 70px;
}

.advantages-title {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--body-title-color);
}

.advantages-desc {
  line-height: 1.71;
}

/* Стилізація Чем мы занимаемся*/
.activity-section {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--body-title-color);
}

.activity-list {
  display: flex;
}

.activity-item {
  position: relative;
}

.activity-item:not(:last-child) {
  margin-right: 30px;
}

.activity-title {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70px;
  font-size: 14px;
  text-transform: uppercase;
  color: var(--color-white);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Стилізація Наша команд*/
.team {
  background-color: var(--background-select-color);
}

.team-list {
  display: flex;
}

.team-item {
  width: 270px;
  border-radius: 0 0 4px 4px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.team-div-desc {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-member-title,
.team-member-desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-member-title {
  margin-bottom: 10px;
  font-weight: 500;
  color: var(--body-title-color);
}

.team-member-desc {
  margin-bottom: 16px;
}

.social-list {
  display: flex;
  justify-content: center;
}
.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;

  transition: background-color 250ms var(--timing-function);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
}

.social-link-svg {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);

  transition: fill 250ms var(--timing-function);
}

.social-link:hover .social-link-svg,
.social-link:focus .social-link-svg {
  fill: var(--color-white);
}

/* Стидізація Постоянние клиенты */
.our-clients {
  display: inline-flex;
}
.our-clients-item {
  width: 170px;
  height: 92px;
}

.our-clients-item:not(:last-child) {
  margin-right: 30px;
}
.our-clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--icon-color);
  border-radius: 4px;

  transition: border 250ms var(--timing-function);
}

.our-clients-logo {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);

  transition: fill 250ms var(--timing-function);
}

.our-clients-link:hover .our-clients-logo,
.our-clients-link:focus .our-clients-logo {
  fill: var(--accent-color);
}

.our-clients-link:hover,
.our-clients-link:focus {
  border-color: var(--accent-color);
}

/* Стилізація backdrop */
.backdrop-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--backdrop-background-color);

  opacity: 1;

  transition: opacity 250ms var(--timing-function);
}

.backdrop-container.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop-container.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: var(--color-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--timing-function), visibility 250ms var(--timing-function);
}

.btn-backdrop-close {
  position: absolute;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);

  cursor: pointer;
}

.btn-backdrop-close:hover .backdrop-close,
.btn-backdrop-close:focus .backdrop-close {
  fill: var(--accent-color);
}

.backdrop-close {
  width: 11px;
  height: 11px;
  fill: var(--color-black);

  transition: fill 250ms var(--timing-function);
}

.backdrop-modal-title {
  margin-bottom: 12px;

  font-size: 20px;
  text-align: center;

  color: var(--body-title-color);
}
.modal-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modal-form-label {
  position: relative;

  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.modal-form-label-text {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: var(--body-text-color);
}

.modal-form-label input,
.modal-form-label textarea {
  width: 100%;

  border-color: rgba(33, 33, 33, 0.2);
  border-width: 1px;
  border-style: solid;
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);
}

.modal-form-input {
  height: 40px;
  padding-left: 42px;
  padding-right: 10px;
}

.modal-form-textarea {
  display: block;
  height: 120px;
  padding: 12px 16px;

  resize: none;
}

.modal-form-input:focus-within,
.modal-form-textarea:focus-within {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-input:not(:placeholder-shown),
.modal-form-textarea:not(:placeholder-shown) {
  border-color: var(--accent-color);
  color: var(--body-title-color);
}

.modal-form-label-textarea {
  margin-bottom: 20px;
}

.modal-form-label-checkbox {
  display: inline-flex;
  align-items: center;

  margin-bottom: 30px;

  line-height: 1.71;
}

.modal-form-label-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  bottom: 11px;
  left: 12px;
  fill: var(--body-title-color);

  transition: fill 250ms var(--timing-function);
}

.form-checkbox-icon {
  width: 16px;
  height: 15px;
  margin-right: 9px;

  /* чомусь не можу анімувати появу галочки */
  border: 2px solid var(--body-title-color);
  border-radius: 2px;
  background-color: transparent;
  background-image: none;

  transition: background-color 250ms var(--timing-function),
    background-image 250ms var(--timing-function);
}

.modal-form-input:focus-within + .modal-form-label-icon,
.modal-form-input:not(:placeholder-shown) + .modal-form-label-icon {
  fill: var(--accent-color);
}

.checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.checkbox:checked + .form-checkbox-icon {
  background-image: url('../images/checkbox-checked.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  border-radius: 2px;
  border: none;
}

.form-checkbox-link {
  margin-left: 4px;

  color: var(--accent-color);

  text-decoration: underline;
}

.btn-modal-form {
  padding: 10px 32px;
  font-weight: 700;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--button-hover-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.btn-modal-form:hover,
.btn-modal-form:focus {
  background: #188ce8;
}

/* Стилізація footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-color);
}

.logo-footer {
  display: block;
  margin-bottom: 20px;
}

.span-white {
  color: var(--color-white);
}

.footer-address {
  font-style: normal;
}

.footer-address-link {
  display: block;
  line-height: 1.71;
  color: var(--color-white);
}

.footer-contact-link {
  display: block;
  line-height: 1.71;
  color: var(--copyright-link-color);
}

.footer-address li:not(:last-child) {
  margin-bottom: 9px;
}

.footer > .container {
  display: flex;
  align-items: baseline;
}

.footer-left-container {
  margin-right: 70px;
  flex-grow: 1;
}

.footer-center-container {
  margin-right: 93px;
}

.footer-center-title,
.footer-form-title {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--color-white);
}

.footer-social {
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-social > .social-link-svg {
  fill: var(--color-white);
}

.footer-form {
  display: flex;
  align-items: center;
}

.footer-form-label {
  margin-right: 12px;
}

.footer-form-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  transition: border-color 250ms var(--timing-function);
}

.footer-form-input:focus-within {
  outline: none;
  border-color: var(--accent-color);
}

.footer-form-input:not(:placeholder-shown) {
  border-color: var(--accent-color);
  color: var(--color-white);
}

.btn-send {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px 10px 29px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;

  color: var(--color-white);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.form-icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--color-white);
}

/* Стилізація сторінки Портфолио */
.works-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.works-item-nav:not(:last-child) {
  margin-right: 8px;
}
.works-btn {
  padding: 6px 22px;
}

.works-btn:active,
.works-btn:hover,
.works-btn:focus {
  background-color: var(--accent-color);
  color: var(--button-hover-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.works-item-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.works-item-link {
  display: block;
}

.works-item-link:hover,
.works-item-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.works-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-top: 30px;
  margin-left: 30px;
}

.works-item-img {
  position: relative;
  overflow: hidden;
}
.works-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  background-color: var(--overlay-works-color);

  transform: translate(0, 0);

  transition: transform 250ms var(--timing-function);
}

.works-item-link:hover .works-overlay,
.works-item-link:focus .works-overlay {
  transform: translate(0, -100%);
}

.works-overlay-desc {
  padding: 24px;
  font-size: 18px;
  line-height: 1.56;
  color: var(--color-white);
}

.works-item-desc {
  padding: 20px 24px;
  background: var(--color-white);
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #efefef;
}

.works-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--body-title-color);
}

.works-item-desc-text {
  display: block;
  font-size: 16px;
  line-height: 1.87;
  color: var(--body-text-color);
}
